<% provide(:title, 'News') %>
<% provide(:pages, @pages) %>


<%= paginate @news %>
<% @news.each do |news| %>
	<h1><%= news.content != "" ? (link_to news.title, '/pages/news/' + news.url) : news.title %></h1>
	<h2><%= news.date.to_date.to_formatted_s(:long_ordinal) %></h2>
	<p> <%= news.excerpt.html_safe %></p>
	<%= news.content != "" ? (link_to 'Read more...', '/pages/news/' + news.url) : "" %>
<% end %>